<<<<<<< HEAD
<div class="landing-block block">
  <div class="container">
    <div class="row">
      <h1>與其碰運氣，不如找友去</h1>
      <h3>從朋友的口袋美食清單找尋你要的餐廳</h3>
      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
        </div>
        <button type="submit" class="btn btn-default">Send invitation</button>
      </form>
    </div>
  </div>
</div>

<div class="explain-block block">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>

<div class="demo1-block block">
  <div class="container">
    <div class="row">
      <h3>約會餐廳哪裡好？</h3>
      <h4>依照餐廳情境搜尋好友曾經去過的餐廳</h4>
      <div class="col-xs-8 col-xs-offset-2">
        <div class="col-xs-12 col-sm-4">pic 1</div>
        <div class="col-xs-12 col-sm-4">pic 2</div>
        <div class="col-xs-12 col-sm-4">pic 3</div>
      </div>
    </div>
  </div>
</div>

<div class="demo2-block block">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>

<div class="call_to_action-block block">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>
=======
# landing page
>>>>>>> 8a03eb3be89cb36345d3830a774c82825df2f069
