<div class="landing-block block">
  <div class="container">
    <div class="row">
      <h1 class="large-h1">找餐廳</h1>
      <h1>與其碰運氣，不如找友去</h1>
      <h3>在朋友的口袋清單中探索你要的餐廳</h3>
      <div class="cta-button">
        <button class="btn btn-lg btn-warning">看看朋友的美食口袋清單</button>
      </div>
    </div>
  </div>
</div>

<div class="explain-block block landing">
  <div class="container">
    <div class="row">
      <img src="/explain.png">
    </div>
  </div>
</div>

<div class="scene-block block landing">
  <div class="container">
    <div class="row">
      <h1>約會餐廳哪裡好？</h1>
      <h3>依照餐廳情境搜尋好友曾經去過的餐廳</h3>
      <div class="col-xs-8 col-xs-offset-2 scene_pic">
        <img src="/scene1.png">
<!--         <div class="col-xs-12 col-sm-4">pic 1</div>
        <div class="col-xs-12 col-sm-4">pic 2</div>
        <div class="col-xs-12 col-sm-4">pic 3</div> -->
      </div>
    </div>
  </div>
</div>

<div class="demo1-block block">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>
<div class="demo2-block block">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>

<div class="call_to_action-block block">
  <div class="container">
    <div class="row">
      <div class="cta-button">
        <button class="btn btn-lg btn-warning">看看朋友的美食口袋清單</button>
      </div>
    </div>
  </div>
</div>
