$color-primary-gray: #5C5D5D;
$color-secondary-gray: #5C5D5D;

$color-primary-red: #D73553;
$color-secondary-red: #CD6D84;

$color-primary-background: #FAEFEE;
$color-secondary-background: #E84659;

$font-family-primary: Microsoft JhengHei;