// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variable';

html, body {
  height: 100%;
  font-family: Microsoft JhengHei;
  background-color: #faefee;
}

nav.navbar {
  background-color: $color-primary-gray;
}

.navbar-brand {
  padding: 3px;

  img {
    height: 100%;
  }
}